VITE_USE_MOCKS=true
VITE_DASHBOARD_USE_MOCKS=true
VITE_COMMISSIONS_USE_MOCKS=true
VITE_API_URL=https://api.moneyfy.cl/moneyfy
VITE_API_TIMEOUT=15000
VITE_MONEYFY_API_KEY=
VITE_MANAGER_PAGE_SIZE=100
VITE_STATUS_UPDATES_ENABLED=false
